[Desktop Entry]
Encoding=UTF-8
Name=UDACITY自己運転車ND経路計画プロジェクト - Philippe W - Mediumへのリンク
Type=Link
URL=https://medium.com/@philippe.weingertner/udacity-self-driving-car-nd-path-planning-project-6558f6d77887
Icon=text-html
